<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:c="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="css.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/all">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/All">Management</a>
                </li>
                <li>
                    <a class="nav-link">login</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<div class="container text-center">
<form>

    <div class="form-group">
        <label for="formGroupExampleInput">Product name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Product description</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Product Description">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Product description</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Product Description">
    </div>
    <select class="form-control form-control-lg">
    <option>Phones</option>
    <option>Desktop</option>
    <option>Laptops</option>
</select>
    <div class="form-group">
        <label for="exampleFormControlFile1"> File input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>



</form>
</div>
</body>
</html>