<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head th:replace="mainNavHeader :: header">

</head>
<body>

<!--navbar-->
<nav th:replace="adminNavbar :: adminNav"></nav>


<div class="container text-center">

    <button class="btn btn-primary"
            id="addProductButton"
            data-toggle="modal"
            data-target="#addProductModal">Add new Product</button>


    <!-- EditModal -->
    <div class="modal fade" id="editProductModal"  role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Add New Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="container" >
                        <form th:action="@{/manageProduct/update}"  th:object="${productFormEdit}"  th:method="POST">

                            <div hidden>
                                <input   type="text" name="productId" class="form-control" id="pId" placeholder="Example input" required>
                            </div>
                            <div class="form-group">
                                <label for="pName">Product name</label>
                                <input type="text"  name="product_name" class="form-control" id="pName" placeholder="Name input" required>
                            </div>
                            <div class="form-group">
                                <label for="pDesc">Product description</label>
                                <input type="text"  name="product_desc" class="form-control" id="pDesc" placeholder="Description input" required>
                            </div>
                            <div class="form-group">
                                <label for="pPriceInput">Product price</label>
                                <input type="text"  name="product_price" class="form-control" id="pPriceInput" placeholder="Price input" required>
                            </div>
                            <div class="form-group">
                                <label for="pImg"> File input</label>
                                <input type="file" name="product_img"  class="form-control-file" id="pImg" required>
                            </div>
                            <label for="pCat">Product Category</label>
                            <select class="form-control form-control-lg" name="product_category" required>
                                <option th:each="category: ${categoryList}" id="pCat"></option>
                            </select>


                            <div class="container">
                                <input   type="submit" value="save" class="btn btn-primary btn-lg btn-block"/>
                            </div>
                            <br/>

                        </form>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- AddModal -->
    <div class="modal fade" id="addProductModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add New Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="container">
                        <form th:action="@{/manageProduct/addProduct}" th:object="${productForm}" th:method="POST">

                            <div class="form-group">
                                <label for="formGroupExampleInput">Product name</label>
                                <input type="text" name="product_name" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Product description</label>
                                <input type="text" name="product_desc" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Product price</label>
                                <input type="text" name="product_price" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1"> File input</label>
                                <input type="file" name="product_img" class="form-control-file" id="exampleFormControlFile1" required>
                            </div>

                            <select class="form-control form-control-lg" name="product_category" required>
                                <option th:each="category: ${categoryList}" th:text="${category.categoryType}"></option>
                            </select>


                            <div class="container">
                                <input  type="submit" value="save" class="btn btn-primary btn-lg btn-block"/>
                            </div>
                            <br/>

                        </form>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- DeleteModal -->
    <div class="modal fade" id="deleteProductModal"  role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    Are you sure you want to delete the selected Product!

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger mx-3" id="deleteConfirmBtn" data-dismiss="modal"> Confirm Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!--product tables-->
<table class="table table-sm table-dark">


<thead>
<tr>
    <th scope="col">Product image</th>
    <th scope="col">Product id</th>
    <th scope="col">Product name</th>
    <th scope="col">Product Description</th>
    <th scope="col">Product Price</th>
    <th scope="col">Edit/Delete</th>
</tr>
</thead>
    <tbody >
<tr id="ptable" th:each="product: ${productLists}">
    <td th:text="${product.product_img}"></td>
    <td th:text="${product.productId}" ></td>
    <td th:text="${product.product_name}"></td>
    <td th:text="${product.product_desc}"></td>
    <td th:text="${product.product_price}"></td>

    <td >
        <input hidden th:value="${product.getProductId}" th:id="'productid'+${product.getProductId()}"/>
        <button class="btn btn-primary"
                id="editButton"
                data-toggle="modal"
                data-target="#editProductModal" th:pid="${product.getProductId()}">Edit</button>
        <button class="btn btn-danger mx-3" type="button"
                id="deleteBtn"

                th:pid="${product.getProductId()}"
                data-toggle="modal"
                data-target="#deleteProductModal"
                 >Delete</button>
    </td>

</tr>
</tbody>
</table>
</div>

<script>
    let mycsrf = "[[${_csrf.token}]]";
    let myheader = "[[${_csrf.headerName}]]";
</script>
</body>
</html>