<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="mainNavHeader :: header"></head>
<body>
<nav th:replace="mainNavHeader :: navbar"></nav>

<div class="container">

  <h1>Shopping Cart</h1>
</div>
<hr/>
<div class="container">

<div class="row">
  <div class="col">
  <table class="table table-sm table-dark">
    <tbody >

    <thead>
    <tr>
      <th scope="col">Product details</th>
      <th scope="col">Product Price</th>

      <th scope="col">Quantity</th>
      <th scope="col">Sub Total</th>

    </tr>
    </thead>


    <tr th:each="cart: ${myCart}" th:object="${cartUpdate}"  th:action="@{/shoppingCart/update}"   th:method="POST">
      <td  scope="col"  >
        <input hidden  th:value="${cart.getCart_id()}" type="number" th:id="'cart_id' + ${cart.getProduct().getProductId()}"></input>
        <p hidden  th:text="${cart.getUser()}"></p>
        <p hidden   th:text="${cart.getCart_id()}"></p>
        <p hidden th:text="${cart.getProduct()}" ></p>
        <div class="row"  th:text="${cart.product.product_img}"></div>
        <div class="row" th:text="${cart.product.getProduct_name()}"></div>
      </td>
      <td name="product_price" th:text="${cart.product.getProduct_price()}" ></td>
      <td scope="col" >
        <a class="row">
          <ul class="pagination">
            <li class="page-item">
        <a class="page-link minusButton" th:pid="${cart.getProduct().getProductId()}"><b>-</b></a>
            </li>

            <li class="page-item" >
        <input class="quantity form-control text-center" onkeydown="return false" style="max-width: 55px" min="0"
               th:value="${cart.getQuantity()}" type="number" th:method="POST" th:id="'quantity' + ${cart.getProduct().getProductId()}">
            </li>
            <li class="page-item">
          <a class="page-link plusButton" th:pid="${cart.getProduct().getProductId()}"><b>+</b></a>
            </li>


</ul>
        </a>
        </ul>
      </td>
      <td scope="col">Sub Total</td>

    </tr>

    </tbody>
  </table>
  </div>

  <div class="col">



    <!-- Card -->
    <div class="mb-3">
      <div class="pt-4">

        <h5 class="mb-3">The total amount of</h5>

        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
            Temporary amount
            <span>$25.98</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            Shipping
            <span>Gratis</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
            <div>
              <strong>The total amount of</strong>
              <strong>
                <p class="mb-0">(including VAT)</p>
              </strong>
            </div>
            <span><strong>$53.98</strong></span>
          </li>
        </ul>

        <button type="button" class="btn btn-primary btn-block">go to checkout</button>

      </div>
    </div>
    <!-- Card -->


  </div>
</div>


</div>
<script>
  let mycsrf = "[[${_csrf.token}]]";
  let myheader = "[[${_csrf.headerName}]]";
</script>
</body>

</html>